html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; }

* {
  margin: 0px;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  cursor: pointer; }

.welcome-cont-big, .welcome-cont {
  width: 100%;
  height: 100%; }

.welcomePage {
  margin: 0px;
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  padding: 10px 0px 30px;
  background: url("background.jpg") 70% 50%;
  position: relative; }
  .welcomePage > * {
    z-index: 2; }
  .welcomePage > ul {
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    padding: 0px; }
    .welcomePage > ul li {
      display: inline-block;
      list-style: none;
      width: 29vw;
      margin: 0 1vw;
      padding: 1.6vw 0;
      text-align: center;
      text-decoration: none;
      border: solid transparent;
      border-radius: 50px;
      color: white;
      font-size: 1em;
      background: red; }

.logoo {
  grid-row: 1/2;
  text-align: left; }
  .logoo > * {
    display: block;
    padding-left: 10px; }
  .logoo div {
    background: #000;
    width: 100px;
    height: 30px; }
  .logoo span:nth-of-type(2) {
    color: #d2d2d2;
    font-weight: 300;
    margin: 3px;
    font-weight: bold; }

.logo {
  font-size: 35px;
  font-weight: bold; }

#name {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  animation: movefromtop 2s .5s backwards;
  margin-bottom: 20px; }

.play {
  text-align: center;
  height: 0.1px;
  overflow: visible;
  font-size: 21px;
  color: #F2F2F2; }

.welcomePage::after {
  content: '';
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.bio {
  margin: 30px 0; }
  .bio .mimi {
    cursor: pointer;
    color: red; }

.skills {
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px; }

footer {
  background: gray;
  color: white;
  text-align: center;
  padding: 50px 0; }

.welcome-cont-big {
  overflow: hidden;
  height: 75%; }

.welcome-cont {
  width: 120%;
  background: gray;
  margin: 0 -10% 0 -10%;
  padding: 0 10%;
  height: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 50%  150px;
  border-bottom-right-radius: 50% 150px;
  overflow: hidden;
  text-align: center; }

.welcomePage {
  height: 100%; }
  .welcomePage ul {
    align-self: end; }
    .welcomePage ul li {
      width: 140px;
      padding: 5px;
      margin: 10px; }
      .welcomePage ul li:hover {
        color: red;
        background: none;
        border: solid red; }
